/.ipynb_checkpoints
/AR_Clarity_log.log
/AR_FINAL_COPYYY_DONT_USE_THIS.ipynb
/AR_Final_script_log.log
/AR_final_Pull_test.ipynb
/Account Review Clarity
/Acquisition Dashboard 2024-04-17
/Angoss_save_as_SAV.ipynb
/CMX_account_review_2023-12-20.csv
/CMX_account_review_2023-12-26.csv
/Dashboarding-pmt-fallout-Cheney
/Final.sh
/Leadnet_Performance_Monitoring
/Manual_Upload_Clairty_to_SQL.ipynb
/PIF_Customers-Copy1.ipynb
/PIF_Customers.ipynb
/Untitled Folder
/Untitled.ipynb
/Untitled1.ipynb
/Untitled2.ipynb
/Untitled3.ipynb
/Untitled4.ipynb
/Upload_AR_to_SQL.py
/__pycache__
/batch_inquiry_CFN_account_review_2024_07_06_csv_AccountReview_v1_668a883ebedb7800012884f9.csv
/batch_inquiry_CFN_account_review_2024_07_09_csv_AccountReview_v1_668dba06a52d85000108d22d.csv
/batch_inquiry_CMX_Cashmax_account_review_2024_07_06_csv_AccountReview_v1_668a883ebedb7800012884f7.csv
/batch_inquiry_CMX_Cashmax_account_review_2024_07_09_csv_AccountReview_v1_668dba05a52d85000108d22b.csv
/batch_inquiry_MCC_account_review_2024_07_06_csv_AccountReview_v1_668a883dbedb7800012884f5.csv
/batch_inquiry_MCC_account_review_2024_07_09_csv_AccountReview_v1_668dba05a52d85000108d229.csv
/batch_inquiry_TDC_account_review_2024_07_06_csv_AccountReview_v1_668a8840bedb7800012884fb.csv
/batch_inquiry_TDC_account_review_2024_07_09_csv_AccountReview_v1_668dba07a52d85000108d22f.csv
/ccr2passmodel.feather
/df_final.csv
/df_final_w_ninja_score.csv
/files_from_clarity.sh
/put_to_Clarity_v1.py
/send_to_clarity_subprocess.py
/testing_put.txt
/upload_to_clarity.sh